<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./main.css">
    <title>Vue.js App</title>
</head>

<body>
    <div id="app">
        <label v-for="label in options">
            <p><input type="radio" v-model="current" v-bind:value="label.value" class="with-gap">{{ label.label }}</p>
        </label>
        <p>({{ computedTodos.length }}件を表示中)</p>
        <table>
            <thead>
                <tr>
                    <th class="id">ID</th>
                    <th class="comment">コメント</th>
                    <th class="state">状態</th>
                    <th class="button">-</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in computedTodos" v-bind:key="item.id">
                    <th>{{ item.id }}</th>
                    <td>{{ item.comment }}</td>
                    <td class="state">
                        <button v-on:click="doChangeState(item)"
                            class="waves-effect waves-light btn">{{ labels[item.state] }}</button>
                    </td>
                    <td class="button">
                        <button v-on:click="doRemove(item)" class="waves-effect waves-light btn">削除</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>新しい作業の追加</h2>
        <form class="add-form" v-on:submit.prevent="doAdd">
            <input type="text" ref="comment">
            <button type="submit" class="waves-effect waves-light btn">追加</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./main.js"></script>
</body>

</html>